* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  overflow-x: hidden;
  background: #fff;
}
.wrapper {
  position: absolute;
  top: 1vh;
  grid-template-columns: 25vw 71vw;
  grid-template-rows: 13vh 30vh 36vh auto auto;
  width: 100%;
  padding: 1vh 1.5vw;
  display: grid;
  gap: 1vh 1vw;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 13vh;
  display: flex;
  flex-flow: row wrap;
  background: #ddd;
  border: solid;
  border-color: #aaa;
  border-radius: 1vw;
  gap: 1vw;
}

.logo {
  width: 25vw;
  height: 6vh;
  text-align: center;
}

.category-header {
  width: 74vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vh;
}

.header-icons {
  width: 20vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  height: 80%;
  width: 40%;
}

.sidebar {
  width: 25vw;
  height: 35vh;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  gap: 0vw, 0vh;
  background: #ddd;
  border: solid;
  border-color: #aaa;
  border-radius: 1vw;
  padding: 2vw 2vh;
  display: flex;
  flex-direction: column;
  justify-items: auto;
  justify-content: center;
}

.category {
  height: 2vh;
}

.butt {
  background-color: transparent;
  border-color: transparent;
}

.info {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 20vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #ddd;
  border: solid;
  border-color: #aaa;
  border-radius: 1vw;
}

.banner {
  position: relative;
  height: 30vh;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 1vw;
  border: solid;
  overflow: hidden;
  border-color: #aaa;
}
.banner-text {
  position: absolute;
  top: 1vw;
  left: 1vw;
  background-color: #ddd;
  padding: 1vw;
  border: solid;
  border-radius: 1vw;
  border-color: #aaa;
}

.products {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
  background: #ddd;
  border: solid;
  border-radius: 1vw;
  border: solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1vh 3vw;
  padding: 1vh 1vw;
  border-color: #aaa;
}
.header-i {
  height: 100%;
  width: 100%;
}
.product {
  position: relative;
  width: 32vw;
  height: 26vh;
  background: #ccc;
  border-radius: 1vw;
  border: solid;
  border-color: #999;
  padding: 1vh 1vw;
  text-align: center;
}
.circle {
  position: relative;
  top: -35%;
  left: 30%;
  text-align: center;
}

.basket-product {
  opacity: 0;
  position: relative;
  top: -70%;
  width: 30%;
  height: 30%;
}
.product-img {
  position: relative;
  border-radius: 1vw;
}
.circ-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-div {
  width: 100%;
  aspect-ratio: 2/3;
  transform: translate(0%, -20%);
}

#circpi {
  top: -65%;
}

.bbtn {
  font-size: 2vh;
}

.nbtn {
  font-size: 1.5vh;
}
.info_text {
  font-size: 3vh;
}
@media screen and (min-width: 1024px) {
  .wrapper {
    grid-template-columns: 10vw 86vw;
    grid-template-rows: 8vh 35vh 10vh auto 1vh;
  }
  .header {
    height: auto;
    width: 97vw;
    flex-flow: nowrap;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .logo {
    width: 10vw;
    height: 7.5vh;
  }
  .category-header {
    width: 74vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .header-icons {
    width: 10vw;
    height: 7.5vh;
  }
  .sidebar {
    height: 45vh;
    width: 10vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .info {
    width: 10vw;
    height: 25vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .banner {
    height: 35vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .products {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
  }
  .product {
    width: 25vw;
    height: 45vh;
  }
  .bbtn {
    font-size: 3vh;
  }

  .nbtn {
    font-size: 2.25vh;
  }
}
